<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>O Nas</title>
    <meta name="keywords" content="o nas, informacje">
    <meta name="description" content="aplikacja dla studenta, o nas">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../assets/images/icon.png">
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.ico"/>
</head>
<body>

    <h2>Informacje:</h2>

    <p>
        Aplikacja tworzona w ramach zajeć z &lt; <b>Programowanie systemów webowych - laboratorium</b> &gt;
    </p>

    <!--TODO ?? modyfikacja położenia względem linii bazowej itd. ??-->

    <img src="../assets/images/tile-wide.png" alt="przykro mi ;( nie udało się załadować obrazka.">

    <img src="../assets/images/tile-wide.png" alt="przykro mi ;( nie udało się załadować obrazka." width="277" height="135">
    <img src="../assets/images/tile-wide.png" alt="przykro mi ;( nie udało się załadować obrazka." width="277" height="135">

    <h3>Lista rzeczy do zrobienia:</h3>

    <ol>
        <li>nauka HTMLa</li>
        <li>nauka CSSa</li>
        <li>nauka JSa</li>
        <li>
            nauka menadżerów zadań:
            <ul>
                <li>grunt</li>
                <li>gulp</li>
                <li>webpack</li>
            </ul>
        </li>
        <li>
            nauka frameworków:
            <ul>
                <li>Angular</li>
                <li>React</li>
                <li>VueJS</li>
            </ul>
        </li>
    </ol>


</body>
</html>
