<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zarejestruj się</title>
</head>
<body>

    <h2>Formularz osobowy: </h2>

    <form>
        <div>
            <label for="name">Imię:</label>
            <input id="name" type="text" name="name" autofocus>
        </div>

        <div>
            <label for="lastName">Nazwisko: <abbr title="required">*</abbr></label>
            <input id="lastName" type="text" name="lastName">
        </div>

        <div>
            <label for="birthdayMonth">Miesiąc urodzin:</label>
            <input id="birthdayMonth" type="datalist" name="birthdayMonth">
        </div>

        <div>
            <label for="email">Adres mailowy: <abbr title="required">*</abbr></label>
            <input id="email" type="email" name="email">
        </div>

        <div>
            <label for="tel">Telefon:</label>
            <input id="tel" type="tel" name="tel">
        </div>

    </form>

</body>
</html>
