<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zarejestruj się</title>

    <meta name="description" content="aplikacja dla studenta, zarejestruj sie">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../assets/images/icon.png">
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.ico"/>

    <link rel="stylesheet" href="../styles/register.css">
    <link rel="stylesheet" href="../styles/menu.css">
</head>
<body>

<nav class="menu">
    <ul>
        <li>
            Podstrony
            <ul>
                <li><a href="../templates/home.html">Strona Główna</a></li>
                <li><a href="../templates/about.html">O Nas</a></li>
                <li>Podstrony ->
                    <ul>
                        <li><a href="../templates/home.html">Strona Główna</a></li>
                        <li><a href="../templates/about.html">O Nas</a></li>
                        <li><a href="../templates/register.html">Zarejestruj</a></li>
                        <li><a href="../templates/css_test.html">CSS</a></li>
                    </ul>
                </li>
                <li><a href="../templates/css_test.html">CSS</a></li>
            </ul>
        </li>
        <li>Costam1</li>
        <li>Costam2
            <ul>
                <li><a href="../templates/about.html">O Nas</a></li>
                <li><a href="../templates/about.html">O Nas</a></li>
                <li>Podstrony ->
                    <ul>
                        <li><a href="../templates/home.html">Strona Główna</a></li>
                        <li><a href="../templates/about.html">O Nas</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Costam3</li>
    </ul>
</nav>

    <a href="https://google.pl" > GOOGLE LINK</a>

    <h2>Formularz osobowy: </h2>

    <form method="post" autocomplete="on">
        <div>
            <label id="specialLabel" for="name">Imię:</label> <br/>
            <input id="name" type="text" name="name" autofocus>
            (text)
        </div>

        <div>
            <label for="lastName">Nazwisko: <abbr title="required">*</abbr></label> <br/>
            <input id="lastName" type="text" name="lastName" required>
            (text)
        </div>

        <div>
            <label for="birthdayMonth">Miesiąc urodzin:</label><br/>
            <input id="birthdayMonth" list="months" name="birthdayMonth">
            (miesiąc z listy)
        </div>
        <datalist id="months">
            <option value="Styczeń">
            <option value="Luty">
            <option value="Marzec">
            <option value="Maj">
            <option value="czerwiec">
            <option value="lipiec">
            <option value="sierpien">
            <option value="wrzesien">
            <option value="pazdziernik">
            <option value="listopad">
            <option value="grudzien">
        </datalist>

        <div>
            <label for="email">Adres mailowy: <abbr title="required">*</abbr></label><br/>
            <input id="email" type="email" name="email" required>
            (email)
        </div>

        <div>
            <label for="tel">Telefon:</label><br/>
            <input id="tel" type="tel" pattern="[0-9]{9}" name="tel">
            (numer)
        </div>

        <div>
            <label>
                <input name="nazwa1" type="text"/>
            </label>
            <label>
                <input name="nazwa2" type="text"/>
            </label>
        </div>

        <div>
            <select name="select" title="select">
                <option value="wartosc1">opcja1</option>
                <option value="wartosc2" selected>opcja2</option>
                <option value="wartosc3">opcja3</option>
            </select>
        </div>

        <div>
            <input type="radio" id="radio1"
                   name="radio" value="radio1" checked>
            <label for="radio1">radio1</label>

            <input type="radio" id="radio2"
                   name="radio" value="radio2">
            <label for="radio2">radio2</label>

            <input type="radio" id="radio3"
                   name="radio" value="radio3">
            <label for="radio3">radio3</label>
        </div>

        <div>
            <input type="checkbox" id="checkbox1" name="checkbox" value="checkbox1" disabled>
            <label for="checkbox1">checkbox1</label>

            <input type="checkbox" id="checkbox2" name="checkbox" value="checkbox2">
            <label for="checkbox2">checkbox2</label>

            <input type="checkbox" id="checkbox3" name="checkbox" value="checkbox3">
            <label for="checkbox3">checkbox3</label>
        </div>

        <textarea name="textarea" rows="10" cols="50" maxlength="200" title="textarea">wpisz tekst</textarea>

        <div>
            <button type="submit" value="Submit">Submit</button>
            <button type="reset" value="Reset">Reset</button>
        </div>
    </form>

    <a href="register_more_info.html">podaj wiecej danych</a>

    <p>empty:</p>
    <div class="empty"></div>

</body>
</html>
