@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

section {
    border-bottom: 2px dotted black;
    padding-bottom: 20px;
}
section:last-of-type {
    border: none;
}

#elementID1 {
    font-size: 2em;
}

#elementID2 {
    font-size: 22pt;
}

#elementID3 {
    color: green;
    font-size: 24px;
}

#elementID4 {
    font-size: 120%;
}

body {
    margin: 20px 0;
    position: relative;
    background-color: #FFDDDD;
    box-sizing: border-box;
}

.backgrounds > div {
    display: inline-block;
    width: 47%;
    margin: 1%;
    height: 350px;
    background: green;
}

#background1 {
    background-image: url('../assets/images/tile-wide.png');
}

#background2 {
    background: url('../assets/images/tile-wide.png') center;
}

#background3 {
    background: url('../assets/images/tile-wide.png') fixed;
}

#background4 {
    background: url('../assets/images/tile-wide.png') no-repeat;
}

#selector1 {
    color: red;
}

.selector2 {
    color: blue;
}

.selectors .selector3 {
    color: green;
}

.selectors > .selector4 {
    color: purple;
}


.box-model > div {
    width: 200px;
    height: 200px;
}

.outer-div {
    background: gray;
    margin: 20px;
    padding: 50px;
    float: left;
    position: relative;
}

.inside-div {
    color: white;
    background: black;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.right-div {
    background: goldenrod;
    position: static;
    float: left;
}

.fixed-div {
    background: greenyellow;
    position: fixed;
    top: 0;
    right: 0;
    width: 50px!important;
    height: 50px!important;
}

.clear-both {
    clear: both;
}

.under-div {
    background: teal;
}

.text1 {
    font-weight: 700;
    font-style: italic;
    font-variant: historical-forms;
}

.text2 {
    font-variant: all-petite-caps;
}

.text3 {
    line-height: 2.5;
    font-family: "DejaVu Sans Mono";
}


.container {
    border-radius: 20px;
    background: lightgrey;
    height: 300px;
    width: 70%;
    margin: 0 15%;
}

table {
    margin: auto;
    font-size: 25px;
    min-width: 500px;
    border: 5px solid darkgrey;
    padding: 5px;
}

td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

thead th {
    border: 3px dashed cornflowerblue;
    padding-bottom: 10px;
}

tfoot th {
    padding-top: 10px;
    border: 3px dashed darkolivegreen;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 0 5%;
    }
}

.text-shadow {
    text-shadow: 1px 1px 2px blueviolet;
}

.text-rgba {
    color: rgba(255, 0, 0, 0.3);
}

.text-hsla {
    color:  hsla(170, 50%, 45%, 1);
}

.box-shadow {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    background: lightgreen;
    box-shadow: 60px -16px teal;
}

.gradients > div {
    height: 300px;
    width: calc(47% - 100px);
    display: inline-block;
}

.linear-gradient {
    border: 50px solid transparent;
    background: linear-gradient(70deg, blue, pink);
    border-image: url("https://mdn.mozillademos.org/files/4127/border.png") 27 repeat;
}

.radial-gradient {
    border: 50px solid;
    border-image: linear-gradient(red, yellow) 10;
    background: radial-gradient(red, blue);
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.animations {
    overflow: hidden;
}

.transitions {
    display: block;
}

.animations > p {
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.box {
    display: block;
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
    display: block;
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.transitions {
    padding-bottom: 200px;
}
.transitions img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.transitions img.top:hover {
    opacity:0;
}

.font-google {
    font-family: 'Fascinate Inline', cursive;
}

.flex-container {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #eee;
    max-width: 800px;
}

.col {
    flex: 1;
    text-align: center;
    transition: .3s;
    max-width: 25%;
    padding: 8em 0;
    background-color: #ccc;
    min-width: 10%;
    border: 1px solid black;
}

.col:hover{
    transition: .5s;
    max-width: 40% !important;
    background: #333;
    flex-grow: 2;
    cursor: pointer;
    color: #7c60a2;
}

.col:last-of-type {
    border: none;
}

.newspaper {
    column-count: 3;
    column-gap: 25px;
    column-rule: solid 8px;
}

@media(max-width: 1024px) {
    .flex-container {
        flex-flow: row wrap;
    }
    .col {
        flex-basis: 200%;
        max-width: 40%;
    }
    .col:hover {
        max-width: 50%!important;
    }
}
