body {
    margin: 50px 20px 20px;
}

.bright {
    background: rgba(255, 204, 198, 0.19);
}

.dark {
    background: lightgray;
    color: white;
}

.counter {
    text-align: right;
}

.noteForm {
    padding: 10px;
    /*border: 1px solid black;*/
    /*border-radius: 20px;*/
    /*text-align: center;*/
}

.noteForm div {
    padding: 10px;
}

#notes-list {
    padding: 20px;
}

#notes-list > div {
    position: relative;
    display: block;
    padding: 10px;
    border-bottom: 2px dashed lightcyan;
}

#notes-list > div > span {
    display: block;
}

#date {
    position: absolute;
    right: 0;
    top: 5px;
}

.border-red {
    border: 2px solid red;
}

.border-green{
    border: 2px solid green;
}

.error {
    color: red;
}